h1 {
  font-family: 'Work Sans', sans-serif;
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  font-size: 14vw;
  font-weight: bold;
  color:white;
  float: left;
}
h2 {
  font-family: 'Work Sans', sans-serif;
  vertical-align: middle;
  font-size: 20;
  color:white;
  float: left;

}
p {
  float: left;
  font-family: 'Work Sans', sans-serif;
  vertical-align: middle;
  font-size: 14px;
  color:white;

}
footer{
    font-family: 'Work Sans', sans-serif;
    position:absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 30px;
}
.storycontainer{
  margin: 0 auto;
  width: 500px;
  height auto;

}
.footerLinks {
   text-align: center;
}
.footerLinks ul {
  padding: 0;
    list-style-type: none;
    margin: 0;
}
.footerLinks li {
  display: inline;
}
.footerLinks a {
  color: #d9d9d9;
  text-decoration: none;
  font-size: 13px;
}
.copyright {
    text-align: center;
}

.copyright p {
  margin: 0;
  color: #b3b3b3;
  font-size: 11px;
}

.overlay.fade-in {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    float: left;
    z-index: -100;
}

.myVideo {
    position: absolute;
    top: 0;
    bottom: 0;
    float: left;
    overflow:auto;
    object-fit:cover;
    height: 100%;
    width: 100%;
}
body {
	background-color: #000000;
}
.overlay.fade-in {
    float: left;
    -webkit-animation: fade-yellow 5s;
    opacity: .5
}
@-webkit-keyframes fade-yellow {
    0% {
        opacity: 0;
    }
    100% {
        opacity: .5;
    }
}

.overlay.fade-full {
    float: left;
    -webkit-animation: fade-full 5s;
    opacity: 1;
}
@-webkit-keyframes fade-full {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.bg {
    /* The image used */
    background-image:url("newwave.jpeg");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
